chem_emission:
  config:
    apply_quality_control: True
    quality_control_threshold: 1.5
    QFED_VARS:
      {% for qvar in fire_vars %}
      - "{{ qvar }}"
      {% endfor %}
  data_in:
    mkdir:
      - "{{ DATA }}"
    copy:
      {% for fin in rawfiles %}
      - ["{{ fin }}", "{{ DATA }}/"]
      {% endfor %}
  data_out:
    mkdir:
      - "{{ COMOUT_CHEM_HISTORY }}"
    copy:
      {% for fileout in processed_files %}
      - ["{{ DATA }}/{{ fileout }}", "{{ COMOUT_CHEM_HISTORY }}/"]
      {% endfor %}


